$gray : #999;

$border-gray : $gray;

%left{
	float: left;
}
%right{
	float: right;
}
%margin-center{
	margin-left: auto;
	margin-right: auto;
}
%table-cell-center{ 
    display: table-cell;
    line-height:1;
    text-align: center;
    vertical-align: middle;
}
%cell-right{
	&:last-child{
		@extend %right;
	}
}
%cell-left{
	text-align: right;
	&:first-child{
		@extend %left;
	}
}
%cell-center{
	text-align: center;
	&:last-child{
		@extend %right;
	}
	&:first-child{
		@extend %left;
	}
}
@mixin inline($child){
	display:flex;
	&>*:nth-child(#{$child}){ 
		flex: 1;
	}
}
@mixin line-text-line($height){
	display: flex;
	margin: 0 auto;
	&:before,&:after{
		display: block;
		flex: 1;
		content: "";
		height: 1px;
		border-top: 1px solid $border-gray; 
		margin-top: 10px; 
	}
	&:before{
		margin-right: 10px;
	}
	&:after{
		margin-left: 10px;
	}
}
